
/* body {
font-family: Helvetica, sans-serif;
line-height: 1.6;
}

.main {
    display: flex;
    margin: 20px;
    background-color: #f2f2f2;
}

.main-content{
    
    display:grid;
    grid-template-columns: 280px 280px 280px;
    grid-gap: 20px;
    padding: 10px;
    
}
article {
    text-align: justify;
     text-justify: inter-word;
}
article > h2 {
    text-align: center;
    font-size:medium;
}

.article-image {
    height:230px;
    width:280px;
}

.card {
    color: #333333;
}

.card:first-child {
    color: #000000; 
}

.sidebar{
    max-width: 300px;
    margin: 20px;
}

.sidebar-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}

footer {
    text-align: center;
    border-top: 2px solid gainsboro;
    padding: 25px;
    margin-top: 50px;
    }

 @media screen and (max-width:400px) {
    .main{
        display: flex;
    flex-direction: column;
    }
 
    aside{
        display:flex;
        flex-direction: row;
        margin: 0px;
    }
     .sidebar-text {
         min-width: 300px;
     }

.section-content { 

    display: flex;
    flex-direction: column;
}
}
 */
